node_modules
dist
*.local
.env.local
*.tsbuildinfo
.DS_Store

# playwright
/test-results/
/playwright-report/
/blob-report/
/.playwright/
# Saved login sessions written by tests/auth.setup.ts — real session cookies.
/tests/.auth/
